
# **Initial Data cleaning and quality check** 

Procedures:
* Load and Inspect Dataset(.parquet)
* Clean data
* Summary and Descriptive Statistics
* Analyze and visualize data

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

## Loading and Inspecting

In [2]:
df = pd.read_parquet("processed/flights_2020_2025_canada_cleaned.parquet")
df.head()

,FlightDate,Reporting_Airline,Origin,Dest,CRSDepTime,DepTime,DepDelay,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,Cancelled,Diverted,AirTime,Distance
0,2020-01-09,B6,BOS,CLT,900.0,0846,-14.0,1135.0,1108,-27.0,0.0,0.0,0.0,112.0,728.0
1,2020-01-10,B6,BOS,CLT,900.0,0845,-15.0,1135.0,1056,-39.0,0.0,0.0,0.0,114.0,728.0
2,2020-01-12,B6,BOS,CLT,900.0,0850,-10.0,1135.0,1137,2.0,2.0,0.0,0.0,130.0,728.0
3,2020-01-13,B6,BOS,CLT,900.0,0846,-14.0,1135.0,1111,-24.0,0.0,0.0,0.0,127.0,728.0
4,2020-01-14,B6,BOS,CLT,900.0,0851,-9.0,1135.0,1133,-2.0,0.0,0.0,0.0,134.0,728.0

In [3]:
# data types of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13561830 entries, 0 to 13561829
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   FlightDate         datetime64[ns]
 1   Reporting_Airline  string
 2   Origin             string
 3   Dest               string
 4   CRSDepTime         float64
 5   DepTime            string
 6   DepDelay           float64
 7   CRSArrTime         float64
 8   ArrTime            string
 9   ArrDelay           float64
 10  ArrDelayMinutes    float64
 11  Cancelled          float64
 12  Diverted           float64
 13  AirTime            float64
 14  Distance           float64
dtypes: datetime64[ns](1), float64(9), string(5)
memory usage: 1.5 GB

Some more description about the data format from the Bureau of Transportation Statistics TranStats page:<br>
Url: ["On-Time : Reporting Carrier On-Time Performance (1987-present)"](https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=FGJ&QO_fu146_anzr=b0-gvzr)

* `FlightDate`: Flight Date (yyyymmdd)
* `Reporting_Airline`: Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.
* `Origin`: Origin Airport
* `Dest`: Destination Airport
* `CRSDepTime`: CRS (Computer Reservation Sytem) Departure Time (local time: hhmm), which is the scheduled departure time.
* `DepTime`: Actual Departure Time (local time: hhmm)
* `DepDelay`: Difference in minutes between scheduled and actual departure time. Early departures show negative numbers.
* `CRSArrTime`: CRS (Computer Reservation Sytem) Arrival Time (local time: hhmm), which is the scheduled arrival time.
* `ArrTime`: Actual arrival Time (local time: hhmm)
* `ArrDelay`: Difference in minutes between scheduled and actual arrival time. Early arrivals show negative numbers.
* `ArrDelayMinutes`: Difference in minutes between scheduled and actual arrival time. Early arrivals set to 0
* `Cancelled`: Cancelled Flight Indicator (1=Yes)
* `Diverted`: Diverted Flight Indicator (1=Yes)
* `AirTime`: Flight Time, in Minutes
* `Distance`: Distance between airports (miles)

In [4]:
# gives the rows and columns
df.shape

(13561830, 15)

## Clean Data

In [5]:
df.isna().sum()

FlightDate                0
Reporting_Airline         0
Origin                    0
Dest                      0
CRSDepTime                0
DepTime              248507
DepDelay             248754
CRSArrTime                0
ArrTime              256613
ArrDelay             286168
ArrDelayMinutes      286168
Cancelled                 0
Diverted                  0
AirTime              286168
Distance                  0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13561830 entries, 0 to 13561829
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   FlightDate         datetime64[ns]
 1   Reporting_Airline  string
 2   Origin             string
 3   Dest               string
 4   CRSDepTime         float64
 5   DepTime            string
 6   DepDelay           float64
 7   CRSArrTime         float64
 8   ArrTime            string
 9   ArrDelay           float64
 10  ArrDelayMinutes    float64
 11  Cancelled          float64
 12  Diverted           float64
 13  AirTime            float64
 14  Distance           float64
dtypes: datetime64[ns](1), float64(9), string(5)
memory usage: 1.5 GB

In [7]:
# performing imputation for columns with Nan values

df['DepTime'] = df['DepTime'].fillna(value="0")
df['DepDelay'] = df['DepDelay'].fillna(value=0)
df['ArrTime'] = df['ArrTime'].fillna(value="0")
df['ArrDelay']= df['ArrDelay'].fillna(value=0)
df['ArrDelayMinutes'] = df['ArrDelayMinutes'].fillna(value=0)
df['ArrTime'] = df['ArrTime'].fillna(value=0)
df['AirTime'] = df['AirTime'].fillna(value = 0)

In [8]:
df.isna().sum()

FlightDate           0
Reporting_Airline    0
Origin               0
Dest                 0
CRSDepTime           0
DepTime              0
DepDelay             0
CRSArrTime           0
ArrTime              0
ArrDelay             0
ArrDelayMinutes      0
Cancelled            0
Diverted             0
AirTime              0
Distance             0
dtype: int64

In [9]:
df.head()

,FlightDate,Reporting_Airline,Origin,Dest,CRSDepTime,DepTime,DepDelay,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,Cancelled,Diverted,AirTime,Distance
0,2020-01-09,B6,BOS,CLT,900.0,0846,-14.0,1135.0,1108,-27.0,0.0,0.0,0.0,112.0,728.0
1,2020-01-10,B6,BOS,CLT,900.0,0845,-15.0,1135.0,1056,-39.0,0.0,0.0,0.0,114.0,728.0
2,2020-01-12,B6,BOS,CLT,900.0,0850,-10.0,1135.0,1137,2.0,2.0,0.0,0.0,130.0,728.0
3,2020-01-13,B6,BOS,CLT,900.0,0846,-14.0,1135.0,1111,-24.0,0.0,0.0,0.0,127.0,728.0
4,2020-01-14,B6,BOS,CLT,900.0,0851,-9.0,1135.0,1133,-2.0,0.0,0.0,0.0,134.0,728.0

## Summary and Descriptive Statistics